  @import 'base/banner';
  $blue: #07a2d4;
  $orange: #dd8601;
  $red: #93121b;
  .bg-blue,
  .bg-orange,
  .bg-red {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .bg-blue {
    background-color: $blue;
  }
  
  .bg-black {
    width: 100%;
    height: 100%;
    background-color: #000;
    perspective: 500px;
    visibility: hidden;
  }
  
  .tile-orange {
    position: static;
    width: $banner-height / 5;
    height: $banner-height / 5;
    background-color: $orange;
    visibility: hidden;
  }
  
  .tile-red {
    @extend .tile-orange;
    background-color: $red;
  }
  
  #banner .border {
    border: 8px solid $blue;
    height: $banner-height - 16;
    width: $banner-width - 16;
    visibility: hidden;
  }
  
  .side-car {
    left: -28px;
    top: 69px;
    width: 348px;
    height: 140px;
    visibility: hidden;
    .side-car-body {
      left: 44px;
      top: 0;
    }
    .side-wheel {
      width: 45px;
      height: 45px;
      top: 79px;
    }
    .front {
      @extend .side-wheel;
      left: 241px;
      .brakes {
        top: 5px;
        left: 5px;
      }
    }
    .rear {
      @extend .side-wheel;
      left: 69px;
      .brakes {
        top: 5px;
        left: 4px;
      }
    }
    .side-car-rim {
      left: 5px;
      top: 5px;
    }
    .head-light {
      left: 264px;
      top: 47px;
    }
    .tail-light {
      left: 12px;
      top: 35px;
    }
    .car-shadows {
      left: 12px;
      top: 97px;
    }
  }
  
  .copy-txt-cont {
    left: 17px;
    top: 21px;
    .copy-txt-top {
      left: 0px;
      top: 0px;
      visibility: hidden;
    }
    .copy-txt-bottom {
      left: 2px;
      top: 23px;
      visibility: hidden;
    }
  }
  
  .cta-cont {
    left: 10px;
    top: 209px;
    width: 144px;
    height: 31px;
    background-color: #000;
    overflow: hidden;
    visibility: hidden;
    .arrow-left {
      top: 12px;
      left: 10px;
    }
    .arrow-right {
      top: 12px;
      left: 15px;
    }
    .cta-txt {
      left: 28px;
      top: 10px;
    }
    .cta-shine {
      background-color: rgba( 255, 255, 255, 0);
      background-image: linear-gradient( 120deg, rgba( 255, 255, 255, 0) 17%, rgba( 255, 255, 255, 0.5) 29%, rgba( 255, 255, 255, 0.35) 38%, rgba( 255, 255, 255, 0.2) 44%, rgba( 255, 255, 255, 0.5) 66%, rgba( 255, 255, 255, 0) 83%);
      left: 0px;
      top: 0px;
      width: 144px;
      height: 31px;
    }
  }
  
  .mini-logo-small {
    left: 225px;
    top: 209px;
  }
  
  .mini-logo {
    position: absolute;
    left: 56px;
    top: 85px;
    width: 189px;
    height: 80px;
    visibility: hidden;
  }
  
  .front-car {
    left: 8px;
    top: 72px;
    visibility: hidden;
    .spotlight {
      left: 0;
      top: 78px;
    }
    .chassis {
      left: 30px;
      top: 8px;
    }
    .car-body,
    .red-body,
    .orange-body {
      left: 31px;
      top: 0;
    }
    .red-body,
    .orange-body {
      top: 37px;
    }
    .front-wheel {
      width: 50px;
      height: 50px;
      left: 141px;
      top: 65px;
    }
    .wheel-arch {
      left: 133px;
      top: 59px;
    }
    .rear-wheel {
      left: 241px;
      top: 66px;
      transform: skewX(1deg) scale(0.3, 0.75);
    }
  }
  
  .change-color-txt {
    left: 21px;
    top: 25px;
    visibility: hidden;
  }
  
  .color-selector-cont {
    left: 154px;
    top: 21px;
    .color-selector {
      top: 10px;
      visibility: hidden;
      transition: border 0.1s ease-in-out;
      &:hover {
        border: solid 2px #fff;
      }
    }
    .blue-selector {
      left: 1px;
    }
    .orange-selector {
      left: 28px;
    }
    .red-selector {
      left: 55px;
    }
  }